/* Desktop styles */
.about-section {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 0 2rem;
  background-color: black;
}

.content-wrapper {
  max-width: 800px;
  text-align: center;
  background: rgba(0, 0, 0, 0.8);
  padding: 2rem;
  border-radius: 10px;
}

.about-title {
  color: #ffffff;
  font-size: 3rem;
  font-family: "Orbitron", sans-serif;
  margin-bottom: 1rem;
}

@keyframes neon-flicker-about {
  0%,
  100% {
    text-shadow: 0 0 10px #00ffff, 0 0 20px #00ffff, 0 0 30px #00ffff;
  }
  50% {
    text-shadow: 0 0 20px #00ffff, 0 0 30px #00ffff, 0 0 40px #00ffff;
  }
}

.about-para {
  color: #ffffff;
  font-size: 1.5rem;
  margin: 1rem 0;
  line-height: 1.6;
  font-family: "Courier New", Courier, monospace;
}

/* Responsive styles for phones */
@media only screen and (max-width: 600px) {
  .about-section {
    padding: 0.5rem;
  }

  .content-wrapper {
    max-width: 100%; /* Adjusted for smaller screens */
    padding: 1rem;
  }

  .about-title {
    font-size: 2rem;
  }

  .about-para {
    font-size: 1.2rem;
  }
}
