/* Blog.css */

.blog {
  text-align: center;
  padding: 20px;
  padding-top: 80px; /* Adjust this value based on your navbar height */
}

.blog h1 {
  font-size: 2.5em;
  margin-bottom: 20px;
}

.blog p {
  font-size: 1.2em;
  margin-bottom: 20px;
}

.blog a {
  text-decoration: none;
}
