.hero {
  background-image: url("./introwallpaper.jpg"); /* Add the path to your image */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh; /* Full height of the viewport */
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-align: center;
  position: relative;
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5); /* Adds a dark overlay */
}

.hero-content {
  position: absolute;
  top: 33%; /* Positioning the content at 1/3rd from the top */
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.hero-title {
  font-size: 3rem;
  font-family: "Orbitron", sans-serif;
  text-shadow: 0 0 10px #ff7f00, 0 0 20px #ff7f00, 0 0 30px #ff7f00;
  /* animation: neon-flicker 1.5s infinite alternate; */
}

.hero-message {
  font-size: 1.5rem;
  font-family: "Roboto", sans-serif;
  text-shadow: 0 0 5px #00ffff, 0 0 10px #00ffff, 0 0 15px #00ffff;
  animation: fade-in 3s ease-in-out;
}

@keyframes neon-flicker {
  0%,
  100% {
    text-shadow: 0 0 10px #ff00ff, 0 0 20px #ff00ff, 0 0 30px #ff00ff;
  }
  50% {
    text-shadow: 0 0 20px #ff00ff, 0 0 30px #ff00ff, 0 0 40px #ff00ff;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
