.home {
  text-align: center;
  width: 100%;
  height: 100%;
  padding: 0;
  position: relative;
  overflow: hidden;
}

.background-image {
  background-image: url("./image2.png");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.content {
  position: relative;
  z-index: 1;
  padding: 20px;
  background: rgba(255, 255, 255, 0); /* Fully transparent background */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: Add a slight shadow for depth */
  border-radius: 8px; /* Optional: Add rounded corners */
  margin: 20px auto; /* Center the content div */
  width: 90%; /* Set a maximum width for larger screens */
  max-width: 1200px; /* Set a maximum width for larger screens */
}

.intro {
  padding: 2rem;
  background: rgba(255, 255, 255, 0); /* Fully transparent background */
}

.cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Two columns by default */
  gap: 30px; /* Increased gap between cards */
  justify-items: center;
  /* Responsive styles */
  @media (max-width: 768px) {
    grid-template-columns: repeat(1, 1fr); /* One column on smaller screens */
  }
}

.card {
  flex-direction: column;
  align-items: center;
  border-radius: 8px;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.1);
  color: #fff;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3), 0 6px 6px rgba(0, 0, 0, 0.2);
  width: 100%; /* Ensure card doesn't exceed grid column width */
  max-width: 600px; /* Adjust max-width as needed */
}

.card:hover {
  transform: translateY(-5px); /* Add a slight upward animation on hover */
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); /* Increase shadow on hover for depth */
}

.card h2 {
  font-size: 1.5em;
  margin-bottom: 10px; /* Add some spacing between title and content */
}

.card p {
  font-size: 1em;
  margin-bottom: 20px; /* Add spacing between content and link */
}

.card a {
  text-decoration: none;
  color: #fff;
  background-color: #ff00ff; /* Button background color */
  padding: 8px 16px;
  border-radius: 4px;
  transition: background-color 0.3s ease; /* Transition for button color change */
}

.card a:hover {
  background-color: #00ffff; /* Change button color on hover */
}

.sample {
  background-color: black;
}

.three-scene {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
}

.hero {
  position: relative;
  z-index: 1;
}

.background-container {
  position: relative;
}

.card img {
  width: 100%;
  max-width: 100%; /* Ensure the image doesn't exceed the card width */
  height: auto;
  max-height: 300px; /* Adjust this height as needed */
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 10px;
}

@keyframes neon-flicker-home {
  0%,
  100% {
    text-shadow: 0 0 10px #00ffff, 0 0 20px #00ffff, 0 0 30px #00ffff;
  }
  50% {
    text-shadow: 0 0 20px #00ffff, 0 0 30px #00ffff, 0 0 40px #00ffff;
  }
}
@keyframes fade-in-home {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.intro {
  padding: 2rem;
  background: rgba(255, 255, 255, 0); /* Fully transparent background */
}

.intro-title {
  font-size: 3rem;
  font-family: "Orbitron", sans-serif;
}

.intro-title.flickering-text {
  color: #ffffff; /* Set text color to white */
  animation: neon-flicker-home 1.5s infinite alternate;
}

.card-para {
  text-shadow: 1px 1px 0 #000, -1px 1px 0 #000, 1px -1px 0 #000,
    -1px -1px 0 #000;
  font-weight: bold;
  font-size: 1.2em;
}

.card-heading {
  font-family: "Orbitron", sans-serif;
}

.learn-button {
  /* font-family: "Orbitron", sans-serif; */
  font-weight: bold;
}
