/* Navbar.css */
.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background: black; /* Background color */
  color: white;
  position: fixed; /* Fix the navbar at the top */
  top: 0; /* Position it at the top of the viewport */
  left: 0; /* Align it to the left */
  z-index: 1000; /* Ensure it appears above other content */
  border-bottom: 2px solid #ff8000; /* Thin line at the bottom with desired color */
}

.navbar h1 {
  margin: 0;
  font-size: 2rem; /* Adjust font size */
  font-family: "Orbitron", sans-serif; /* Cyberpunk font */
  cursor: pointer; /* Change cursor to pointer */
}

.navbar ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar li {
  margin: 0 0.5rem; /* Reduce margin between list items */
}

.navbar a {
  color: white;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  transition: text-shadow 0.3s ease-in-out; /* Smooth transition */
}

.navbar a:hover {
  text-shadow: 0 0 10px #00ffff, 0 0 20px #00ffff, 0 0 30px #00ffff; /* Brighter neon on hover */
  text-decoration: underline;
}

/* Media query for smaller screens */
@media screen and (max-width: 768px) {
  .navbar {
    flex-direction: column; /* Stack items vertically */
    text-align: center; /* Center items */
  }

  .navbar li {
    margin: 0.5rem 0; /* Increase margin between list items */
  }
}
