/* Navbar.css */
.navbar {
  width: 100%;
  background: black; /* Background color */
  color: white;
  position: fixed; /* Fix the navbar at the top */
  top: 0; /* Position it at the top of the viewport */
  left: 0; /* Align it to the left */
  z-index: 1000; /* Ensure it appears above other content */
  border-bottom: 2px solid #ff8000; /* Thin line at the bottom with desired color */
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  position: relative; /* Position relative for absolute positioning of close icon */
}

.navbar h1 {
  margin: 0;
  font-size: 2rem; /* Adjust font size */
  font-family: "Orbitron", sans-serif; /* Cyberpunk font */
  cursor: pointer; /* Change cursor to pointer */
}

.navbar .hamburger {
  font-size: 2rem;
  cursor: pointer;
  margin-right: 1rem; /* Add margin-right to push it away from the logo */
  display: none; /* Hide the hamburger icon by default */
}

.navbar ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar li {
  margin: 0 0.5rem; /* Reduce margin between list items */
}

.navbar a {
  color: white;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  transition: text-shadow 0.3s ease-in-out; /* Smooth transition */
}

.navbar a:hover {
  text-shadow: 0 0 10px #00ffff, 0 0 20px #00ffff, 0 0 30px #00ffff; /* Brighter neon on hover */
  text-decoration: underline;
}

.close-icon {
  position: absolute;
  top: 1rem;
  left: 1rem;
  font-size: 2rem; /* Adjust size as needed */
  cursor: pointer;
  color: white; /* Color of the close icon */
  display: none; /* Hide the close icon by default */
}

/* Media query for smaller screens */
@media screen and (max-width: 768px) {
  .navbar-container {
    justify-content: flex-start; /* Align items to the start */
  }

  .navbar h1 {
    flex-grow: 1; /* Make it take up remaining space */
    text-align: center; /* Center the logo */
  }

  .navbar .hamburger {
    display: block; /* Display the hamburger icon only on smaller screens */
  }

  .navbar ul {
    flex-direction: column;
    display: none; /* Hide the menu by default */
    position: fixed; /* Fix the position */
    left: 0; /* Align to the left */
    top: 0; /* Align to the top */
    height: 100%; /* Full height */
    width: 250px; /* Fixed width */
    background: black; /* Match background */
    padding-top: 3rem; /* Add some padding at the top */
    transition: transform 0.3s ease; /* Smooth transition */
    transform: translateX(-100%); /* Initially hide the menu */
  }

  .navbar ul.menu.open {
    display: flex; /* Ensure menu is displayed when open */
    transform: translateX(0); /* Slide in the menu */
  }

  .navbar li {
    margin: 1rem 0; /* Increase margin between list items */
  }

  .navbar ul.menu.open ~ .overlay {
    display: block; /* Show the overlay when menu is open */
  }

  .navbar ul.menu.open ~ .close-icon {
    display: block; /* Show the close icon when menu is open */
  }
}
